$fontFamily: 'Roboto', sans-serif;

$primaryColor: #f37324;
$secondaryColor: #fff0d4;
$primaryTextColor: #333333;
$boxShadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
$white: #ffffff;
$fixedZIndex: 10;

// Breakpoints
$sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1366px;